.detail-specs {
  border-top: 1px solid var(--color-border);
  padding-top: 32px;
}

.detail-specs__title {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 22px;
  color: var(--color-text);
  margin-bottom: 20px;
}

.detail-specs__groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.detail-specs__group {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;
  background: var(--color-surface);
  @media (max-width: 500px) {
    border: unset;
  }
}

.detail-specs__group-header {
  width: 100%;
  padding: 16px 18px;
  border-bottom: 1px solid var(--color-border);

  font-family: var(--font-body);
  font-weight: 700;
  font-size: 14px;
  color: var(--color-primary);

  text-transform: capitalize;

  margin-bottom: 1px solid var((--color-border));
  
}

.detail-specs__rows {
  display: flex;
  flex-direction: column;
}

.detail-specs__row {
  display: flex;
  

  &:first-child {
    border-top: none;
  }
}

.detail-specs__label {
  width: 45%;
  flex-shrink: 0;

  padding: 10px 18px;

  font-family: var(--font-body);
  font-size: 13px;
  color: var(--color-muted);

  vertical-align: top;
}

.detail-specs__value {
  flex: 1;

  padding: 10px 18px 10px 0;

  font-family: var(--font-body);
  font-size: 13.5px;
  color: var(--color-text);
  font-weight: 500;
}

